.pokeInput{
    width: 25%;
    min-width: 240px;
}

html, body{
    font-family: arial;
}

.pokedex{
    margin-top: 20px;
    width: 200px;
    border: 3px solid;
    text-align: center;
    border-radius: 5px;
}

.pokeName{
    font-weight: bold;
}

.pokeSubmit{
    background: #FF1C1C;
    color: white;
    border-left: 1px solid rgb(240, 68, 68);
    border-top: 1px solid rgb(240, 68, 68);
    border-right: 1px solid rgb(189, 4, 4);
    border-bottom: 1px solid rgb(189, 4, 4);
}